<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header-config"></head>

<body>

<div th:replace="/fragments/nav"></div>

<div class="breadcrumbs"></div>
<div class="container body-nav">
  <div class="container-body-nav">
    <ul class="body-nav-ul">
      <li class="body-nav-li" style="background-color: #428bca; color: white;">질문게시판</li>
      <li class="body-nav-li">전체게시판</li>
      <li class="body-nav-li">자유게시판</li>
      <li class="body-nav-li">강의게시판</li>
      <li class="body-nav-li" style="text-align: center;"><i class="fas fa-star"></i>베스트게시판</li>

    </ul>
  </div>

  <div class="body-nav-search">
    <form class="body-search-form">
      <select style="margin-right: 0.4rem;">
        <option>전체</option>
        <option>제목</option>
        <option>내용</option>
        <option>작성자</option>
      </select>
      <input style="margin-right: 0.4rem;" type="text" />
      <button><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>





<div style="margin-top: 1rem;" class="container">
  <div class="body-qeustion-table">
    <table class="table table-border">
      <thead>
      <tr>
        <th style="width: 10%;">문제번호</th>
        <th style="width: 45%;">제목</th>
        <th style="width: 10%;">작성자</th>
        <th style="width: 10%;">카테고리</th>
        <th style="width: 5%;">댓글</th>
        <th style="width: 10%;">추천수</th>
        <th style="width: 10%;">작성일</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>1000번</td>
      <td>Hello World</td>
      <td>wkdgus1136</td>
      <td>질문</td>
      <td>0</td>
      <td>0</td>
      <td>1일전</td>
      </tr>
      </tbody>

      <tbody>
      <tr>
      <td>1001번</td>
      <td>Hello World</td>
      <td>wkdgus1136</td>
      <td>질문</td>
      <td>0</td>
      <td>0</td>
      <td>1일전</td>
      </tr>
      </tbody>

    </table>

  </div>

</div>

<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/javascript"></div>
</body>

</html>