<div class="header">
  <div class="topbar">

    <div class="container">
      <ul class="login-bar-right">
        <li><a href="login.html">로그인</a></li>
        <li class="deviger"></li>
        <li><a href="register.html">회원가입</a></li>
      </ul>
    </div>

    <div class="container-menu container">

      <a href="../index.html"><img alt="MAIN LOGO" class="MAIN_LOGO" src="/img/MAIN_LOGO2.png"/></a>

      <ul class="container-menubar">
        <li class="container-menu-qestion"><a href="problem.html">문제 <i class="fas fa-chevron-down"></i></a>
          <div class="dropDownMenu">
            <div class="dropMenu-mega-content">

              <div class="dropMenu-deviger">
                <div class="dropMenu-container">
                  <div class="dropMenu-subject">문제</div>
                  <ul>
                    <li>전체 문제</li>
                    <li>종류별 문제</li>
                    <li>가장 많이풀린 문제</li>
                    <li>가장 적게풀린 문제</li>
                    <li>랜덤 문제</li>
                  </ul>
                </div>
              </div>

              <div class="dropMenu-deviger">
                <div class="dropMenu-container">
                  <div class="dropMenu-subject">쉬운문제</div>
                  <ul>
                    <li>전체 문제</li>
                    <li>가장 많이풀린 문제</li>
                    <li>가장 적게풀린 문제</li>
                    <li>랜덤 문제</li>
                  </ul>

                </div>
              </div>

              <div class="dropMenu-deviger">
                <div class="dropMenu-container">
                  <div class="dropMenu-subject">중간문제</div>
                  <ul>
                    <li>전체 문제</li>
                    <li>가장 많이풀린 문제</li>
                    <li>가장 적게풀린 문제</li>
                    <li>랜덤 문제</li>
                  </ul>

                </div>
              </div>

              <div class="dropMenu-deviger">
                <div class="dropMenu-container">
                  <div class="dropMenu-subject">어려운문제</div>
                  <ul>
                    <li>전체 문제</li>
                    <li>가장 많이풀린 문제</li>
                    <li>가장 적게풀린 문제</li>
                    <li>랜덤 문제</li>
                  </ul>

                </div>
              </div>

            </div>

          </div>
        </li>
        <li><a href="ranking.html">랭킹</a></li>
        <li><a href="board-question.html">질문</a></li>
        <li><a href="notification.html">공지사항</a></li>
        <li><a href="help.html">이용방법</a></li>
        <li><a href="developer.html">제작자</a></li>
        <li><a href="search.html"><i class="fas fa-search"></i></a></li>
      </ul>
    </div>
  </div>
</div>
