.body-qeustion-table {
    color: var(--font-color-gray-01);
}

.table {
    width: 100%;
    display: table;
}

.table-border thead,
.table-border tbody {
    border: 1px solid var(--border-color-C4);
    text-align: left;
}

