:root {
    --border-color: #eee;
    --border-color-C4: #c4c4c4;
    --font-color-gray-01: #687074;
    --font-color-gray-03: #333;
    --font-color-gray-05: #555;
    --font-color-gray-07: #777;
    --font-color-gray-09: #ececec;
    --font-color-blue: #0076C0;
    --container-size: 1200px;
}