<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header-config"></head>

<body>
<div th:replace="/fragments/nav"></div>

<div class="breadcrumbs"></div>

<div class="container body-nav">
  <div class="container home-main">
    <h2 class="fade-in ">Algorihm Online Judege</h2>
    <h1 class="home-titleLine margin-bottom-20 fade-in"></h1>
    <p class="fade-in">알고리즘 문제를 풀고 온라인으로 채점받을 수 있는 곳입니다.</p>

  </div>
</div>
<div class="home-solveInfo fade-in">
  <div class="container home-solveInfo-container">
    <div class="counter fade-in">
      <p class="margin-bottom-20">12345</p>
      <h1 style="color:#bbb;">전체문제</h1>

    </div>
    <div class="counter fade-in">
      <p class="margin-bottom-20">9478</p>
      <h1 style="color:#bbb;">초급문제</h1>

    </div>
    <div class="counter fade-in">
      <p class="margin-bottom-20">4345</p>
      <h1 style="color:#bbb;">중급문제</h1>
    </div>
    <div class="counter fade-in">
      <p class="margin-bottom-20">115</p>
      <h1 style="color:#bbb;">고급문제</h1>
    </div>

  </div>

</div>

<div class="container">

  <div class="home-minipost-container fade-in">
    <div class="home-minipost">

      <section class="minipost-section">
        <div class="home-minipost-header">
          <h2>새로운 글</h2>
        </div>

        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>

        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>

        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
      </section>



    </div>

    <div class="home-minipost">

      <section class="minipost-section">
        <div class="home-minipost-header">
          <h2>공지사항</h2>
        </div>

        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
      </section>



    </div>

    <div class="home-minipost">

      <section class="minipost-section">
        <div class="home-minipost-header">
          <h2>질문응답</h2>
        </div>

        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
      </section>



    </div>

    <div class="home-minipost">

      <section class="minipost-section">
        <div class="home-minipost-header">
          <h2>핫게시글</h2>
        </div>

        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
        <div class="home-minipost-board">
          <div class="mini-content">
            <span class="margin-right-1" style="color: var(--font-color-blue)">@wkdgus1136</span>
            <p>아 진쫘 할거많네</p>
          </div>

          <div class="mini-boardInfo">
            <p>56분 전</p>
            <p style="margin-left: 0.2rem;">추천 수 : 0</p>
            <p style="margin-left: 0.2rem;">댓글 수 : 0</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/javascript"></div>


</body>

</html>