<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header-config"></head>

<body>
<div th:replace="/fragments/nav"></div>

<div class="breadcrumbs">

  <div class="container search-container">
    <h1>검색</h1>
    <div class="search-group">
      <input type="text"/>
      <button><i style="color: white;" class="fas fa-search"></i></button>
    </div>
  </div>

</div>


<div class="container body-nav">

  <div class="search-board-container">

    <div class="search-sidebar margin-right-1">
      <ul>
        <li><h1>검색 분류</h1></li>
        <li><a href="#">통합</a></li>
        <li><a href="#">문제</a></li>
        <li><a href="#">질문</a></li>
        <li><a href="#">공지</a></li>
      </ul>
    </div>

    <div class="search-result-container">
      <div style="color: #999;">검색결과 2681개</div>

      <div class="search-result-content">
        <h3>1000번 - A + B</h3>
        <span>두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.</span>

        <div>
          <span>추천수 : 0</span>
          <span>조회수 : 0</span>
          <span>댓글 : 0</span>
        </div>

      </div>


      <div class="search-result-content">
        <h3>1001번 - A + B</h3>
        <span>두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.</span>

        <div>
          <span>추천수 : 0</span>
          <span>조회수 : 0</span>
          <span>댓글 : 0</span>
        </div>

      </div>

      <div class="search-result-content">
        <h3>1002번 - A + B</h3>
        <span>두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.</span>

        <div>
          <span>추천수 : 0</span>
          <span>조회수 : 0</span>
          <span>댓글 : 0</span>
        </div>

      </div>


      <div class="search-result-content">
        <h3>1003번 - A + B</h3>
        <span>두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.</span>

        <div>
          <span>추천수 : 0</span>
          <span>조회수 : 0</span>
          <span>댓글 : 0</span>
        </div>

      </div>


    </div>

  </div>


</div>

<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/javascript"></div>

</body>

</html>