<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header-config"></head>

<body>

<div th:replace="/fragments/modal-hint"></div>
<div th:replace="/fragments/nav"></div>


<div class="breadcrumbs"></div>
<div class="container body-nav">
  <div class="container-body-nav">
    <ul class="body-nav-ul">
      <li class="body-nav-li" style="background-color: #428bca; color: white;">문제</li>
      <li class="body-nav-li">목록</li>
      <li class="body-nav-li">제출내역</li>
      <li style="color: red;" class="body-nav-li">도전하기</li>

    </ul>

  </div>

</div>

<div class="container board-content-body">

  <div class="board-content-title"><h1>A+B</h1></div>

  <table class="table board-content-table">

    <thead class="board-content-thead">
    <tr>
      <th style="width: 20%;">번호</th>
      <th style="width: 20%;">출제자</th>
      <th style="width: 20%;">난이도</th>
      <th style="width: 20%;">종류</th>
      <th style="width: 20%;">정보</th>
    </tr>
    </thead>
    <tbody class="board-content-tbody">
      <tr>
        <td>1000</td>
        <td>wkdgus1136</td>
        <td>하</td>
        <td>문자열</td>
        <td>성공</td>
      </tr>
    </tbody>
  </table>



  <div class="board-content-text">
    <div class="headline"><h1>상세설명</h1></div>
    <p>두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.<br>
      정수형 변수 A와 B가 주어지며, 각각 변수의 리터럴값을 받아 A+B를 출력한다
    </p>

  </div>

  <div class="board-content-text">
    <div class="headline"><h1>입력값</h1></div>
    <p>정수형 변수 A와 B가 주어진다</p>
  </div>

  <div class="board-content-text">
    <div class="headline"><h1>출력값</h1></div>
    <p>A+B의 값을 출력한다</p>
  </div>

  <div class="board-content-example">
    <div class="board-content-text">
      <div class="headline" style="width: 90%;">
        <h1>예제 입력</h1>
        <button onclick="copyToClipboard()" class="btn-none">복사</button>
      </div>

      <div style="width: 90%;" class="board-content-example-input" id="copy-text">
        1 2
      </div>
    </div>

    <div class="board-content-text">
      <div class="headline" style="width: 90%;"><h1>예제 출력</h1></div>
      <div style="width: 90%;" class="board-content-example-result">
        3
      </div>
    </div>
  </div>

  <div class="board-content-text">
    <div class="headline"><h1>힌트</h1></div>
    <p><a style="cursor: pointer;" onclick="hintModalOpen()" class="board-content-hint">여기</a>를 누르면 1000번의 문제의 힌트를 볼수있습니다</p>
  </div>

</div>
<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/javascript"></div>

</body>

</html>